* { box-sizing: border-box; font-family: Arial; }

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Poppins, sans-serif;
}

/* Aurora background */
.bg {
  position: fixed;
  inset:0;
  /* width: 100%;
  height: 100%; */
  background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
  animation: move 8s infinite alternate;
  z-index:-1;
}

@keyframes move {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(90deg); }
}

.container {
  position: relative;
  width: 1000px;
  height:850px;
  margin: auto;
  /* top: 50%;
  transform: translateY(-50%);
  perspective: 1200px; */
  overflow:hidden;
}

.card {
  position: absolute;
  inset:0;
  width: 100%;
  height:100%;
  padding: 20px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  color: white;
  transition: 0.6s;
  transform-style: translateX(100%);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
}

.card.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.card.right {
  transform: translateX(-100%);
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}
textarea{resize:none; height:70px;}

button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: cyan;
  margin-top: 10px;
  cursor: pointer;
}

.radio-group label {
  margin-right: 12px;
}

.label{
  margin-top:10px;
}