<!DOCTYPE html>
<html>
<head>
  <title>Student Login</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Student Login</h2>

  <div class="input-group">
    <input type="email" name="email" required placeholder=" "/>
    <label>Email</label>
  </div>

  <div class="input-group">
    <input type="password" name="password" required placeholder=" "/>
    <label>Password</label>
  </div>
  <div class="profile">

    <!-- PERSONAL DETAILS
  <div class="card-box active" id="personal">
      <h3>👤 Personal Details</h3>
        <p><b>Name:</b> Shri Priyaa</p>
        <p><b>District:</b> Trichy</p>
        <p><b>DOB:</b> 12-06-2006</p>
        <p><b>First Graduate:</b> Yes</p>

      <button onclick="showAcademic()">Next ➡️</button>
    </div>

     ACADEMIC DETAILS -->
  <!-- <div class="card-box" id="academic">
      <h3>📘 Academic Details</h3>
        <p><b>10th %:</b> 85%</p>
        <p><b>12th %:</b> 88%</p>
        <p><b>Cutoff:</b> 172</p>
        <p><b>Stream:</b> Maths Biology</p>

      <button onclick="showPersonal()">⬅️ Back</button>
    </div>

</div>  -->


  <button onclick="studentLogin()">Login</button>
  <p class="link">New here? <a href="register.html">Register</a></p>
    </div>
</div>

<script src="../static/js/script.js"></script>
</body>
</html>
